@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

/*------------- Whole Document---------------- */

body {
	font-family: 'Muli';
	font-size: 19px;
}


/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}


/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 3em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}


/* Space Between TOC and Righthand side content on large screens */

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    padding-left: 5em !important;
  }
}

/*---------------Add a LOGO, three options ---------*

/*1: For logo immediately above TOC, use style rule below, otherwise comment out*/

    #TOC::before {
      content: "";
      display: block;
      height: 200px;
      margin: 2em 20px 40px 20px;
      background-image: url("logo-black.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    
    
/* 2: For logo above title in upper righthand corner, inline with Title and Author, use style rule below. Otherwise comment out*/

/*
     #header.fluid-row::before {
      content: "";
      height: 150px;
      width: 150px;
      float: right;
      background-image: url("logo-black.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
*/

/* option 3 for a logo -- above title and author, when also used with HTML file and before_body. use style rule below. otherwise comment out*/

/*
.upper-right-logo {
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}*/

  
  
