@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

/*------------- Whole Document---------------- */

body {
	font-family: 'Muli';
	font-size: 19px;
}


/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}
